.card {
    padding: var(--main-space);
    margin: calc(var(--main-space) / 2);
    box-shadow: 2px 3px 30px #0000000d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-radius: 0 0 10px 10px;
    height: 4px;
    background-color: var(--main-color);
    animation: snak 4s infinite linear;
    animation-direction: alternate;
}

.content {
    line-height: 30px;
    margin: 0 auto 50px;
}

.card p {
    font-size: 1rem;
    color: #7a7a7a;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.card h4 {
    color: rgb(128, 126, 126);
    margin: 20px auto 10px;
}

.card .image {
    background-color: var(--main-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
}
.card img {
    height: 100px !important;
    width: 100px;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.card .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card .social .icon {
    font-size: 2rem;
    color: rgb(128, 126, 126);
}

.card .social .icon:hover {
    scale: 1.2;
    color: #3b5998;

}


@keyframes snak {
    from {
        width: 50%;
    }

    to {
        width: 100%;
    }
}